:host {
  grid-row: 2;
  grid-column: 1 / 4;

  display: grid;
  height: 100%;
  grid-template-columns: auto auto auto;
  grid-template-rows: 1fr 1fr;
  grid-gap: 4px;
  min-height: 0;
  min-width: 0;
}
