<h1 mat-dialog-title>Настройка дашборда</h1>
<div
  *ngIf="formInitialized"
  mat-dialog-content
  [formGroup]="settingsFormGroup"
  class="mat-typography"
  style="height: 300px"
>
  <mat-form-field appearance="outline">
    <mat-label>Таймфрейм</mat-label>
    <mat-select formControlName="timeframe">
      <mat-option
        *ngFor="let timeframe of timeframes"
        [value]="timeframe.value"
      >
        {{ timeframe.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Отмена</button>
  <button
    mat-button
    [mat-dialog-close]="settingsFormGroup.value"
    cdkFocusInitial
  >
    Открыть дашборд
  </button>
</div>
