<div class="toolbar">
  <div class="toolbar__ticker" *ngIf="(selected$ | async) as selected">
    <div class="ticker" (click)="onSearch($event, selected)">
      <tui-svg src="tuiIconSearch"></tui-svg>
      <div class="ticker__name">
        {{ selected.ticker }}
      </div>
    </div>
  </div>
  <div class="toolbar__space"></div>
  <div class="toolbar__actions">
    <tui-items-with-more
      tuiGroup
      [collapsed]="true">
      <ng-container *ngFor="let item of links; trackBy: trackByIndex">
        <a
          *tuiItem
          [routerLink]="item.disabled ? null : item.path"
          routerLinkActive
          #rla="routerLinkActive"
          [appearance]="rla.isActive ? 'secondary' : 'whiteblock'"
          size="m"
          tuiButton
          [disabled]="item.disabled"
          [icon]="item.icon"
          type="button">
          {{ item.name }}
        </a>
      </ng-container>
      <button
        *tuiItem
        appearance="whiteblock"
        size="m"
        tuiButton
        icon="tuiIconLogOut"
        type="button"
        (click)="logout()">
        Выход
      </button>

      <ng-template
        let-lastIndex
        tuiMore>

        <tui-hosted-dropdown
          tuiDropdownAlign="right"
          class="item"
          #dropdownHost
          [content]="dropdown">

          <button
            icon="tuiIconMoreVertical"
            tuiIconButton
            type="button"
            appearance="whiteblock"
            size="m">
          </button>

          <ng-template #dropdown>
            <tui-data-list role="menu" size="m">
              <tui-opt-group>
                <ng-container
                  *ngFor="let item of links; let index = index; trackBy: trackByIndex">
                  <a
                    tuiOption
                    (click)="onCloseDropDown($event, item, dropdownHost)"
                    class="link-option"
                    [class.link-option--disabled]="item.disabled"
                    *ngIf="index > lastIndex"
                    [routerLink]="item.disabled ? null : item.path"
                    routerLinkActive
                    #rla="routerLinkActive"
                    [attr.aria-checked]="rla.isActive">
                    <tui-svg [src]="item.icon"></tui-svg>
                    {{ item.name }}
                  </a>
                </ng-container>
                <a
                  tuiOption
                  class="link-option"
                  (click)="logout()">
                  <tui-svg src="tuiIconLogOut"></tui-svg>
                  Выход
                </a>
              </tui-opt-group>
            </tui-data-list>
          </ng-template>
        </tui-hosted-dropdown>
      </ng-template>
    </tui-items-with-more>
  </div>
</div>
