:host {
  flex: 1 1;

  padding: 0 var(--padding-2);

  --tui-height-m: 28px;
}

.toolbar {
  display: flex;
  align-items: center;

  width: 100%;
  height: 100%;

  background-color: #fff;

  &__space {
    flex: 1;
  }

  &__actions {
    flex: 1;
    max-width: 400px;

    display: flex;
    justify-content: flex-end;

    tui-items-with-more {
      width: 100%;
      justify-content: flex-end;
    }
  }
}

.ticker {
  display: flex;
  align-items: center;

  &__img {
    width: 24px;
    height: 24px;
    margin-right: var(--padding-2);
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      object-fit: contain;
    }
  }

  &__name {
    font-size: 13px;
    font-weight: bold;
    color: var(--tui-base-08);
  }
}

.link-option {
  justify-content: flex-start;

  &--disabled {
    cursor: default;

    opacity: .5;
  }
}
