<div class="toolbar">
  <div class="toolbar__ticker" *ngIf="(selected$ | async) as selected">
    <div class="ticker">
      <div class="ticker__img">
        <img
          src="/assets/tickers-v2/{{ selected.ticker }}.{{ selected.type === 'crypto' ? 'svg' : 'png' }}"
          [attr.alt]="selected.name"
        />
      </div>
      <div class="ticker__name">
        {{ selected.ticker }}
      </div>
    </div>
  </div>
  <div class="toolbar__space"></div>
  <div
    tuiGroup
    class="toolbar__actions">
    <a
      *ngFor="let item of links; trackBy: trackByIndex"
      [routerLink]="item.disabled ? null : item.path"
      routerLinkActive
      #rla="routerLinkActive"
      [appearance]="rla.isActive ? 'secondary' : 'flat'"
      size="m"
      tuiButton
      [disabled]="item.disabled"
      [icon]="item.icon"
      type="button">
      {{ item.name }}
    </a>
    <button
      appearance="flat"
      size="m"
      tuiButton
      icon="tuiIconLogOut"
      type="button"
      (click)="logout()">
      Выход
    </button>
  </div>
</div>
