.vt-form-field {
  display: flex;
  height: 100%;
  width: 100%;
  cursor: default;
}

.vt-form-field-wrapper {
  height: 100%;
  width: 100%;
  display: inline-flex;

  .vt-form-field-infix-wrapper {
    padding-left: 12px;
    display: flex;
    align-items: center;
    height: 100%;
    flex: 1;
  }

  .vt-form-field-suffix-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex: 1;
    max-width: 24px;
  }
}
