:host {
  display: flex;
  height: 100%;
  width: 100%;
}

$vt-issuer-info-left-side-width: 140px;
$vt-issuer-info-border-color: #ededf4;

.vt-issuer-info-content-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  color: #333;

  .vt-issuer-info-content-toolbar {
    height: 32px;
    width: 100%;
    display: flex;
    border-bottom: 1px solid $vt-issuer-info-border-color;

    .vt-issuer-info-content-toolbar-datepicker {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: $vt-issuer-info-left-side-width;
      border-right: 1px solid $vt-issuer-info-border-color;
      font-style: normal;
      font-weight: normal;
      font-size: 11px;
      line-height: 16px;
    }

    .vt-issuer-info-content-toolbar-info {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 100%;
      padding-right: 12px;
      font-size: 10px;
      line-height: 12px;

      & > span:not(:last-child) {
        margin-right: 12px;
      }
    }
  }

  .vt-issuer-info-content-main-section {
    display: flex;
    width: 100%;
    height: 0;
    overflow: hidden;
    flex: 1 1 auto;

    .vt-issuer-info-content-main-section-left-side {
      width: $vt-issuer-info-left-side-width;
      height: 100%;
      border-right: 1px solid $vt-issuer-info-border-color;
      background-color: #eef1f97f;
      overflow-y: auto;

      & > div {
        min-height: min-content;
        height: 40px;
        display: flex;
        align-items: center;
        padding-left: 8px;

        &:not(:last-child) {
          border-bottom: 1px solid $vt-issuer-info-border-color;
        }

        cursor: pointer;

        &:first-child {
          font-style: normal;
          font-weight: 500;
          font-size: 11px;
          line-height: 11px;
        }

        &:hover {
          background-color: #eef1f9;
        }
      }
    }

    .vt-issuer-info-content-main-section-right-side {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 0;
      flex: 1 1 auto;
      padding: 8px;
      //width: 0;
      //flex: 1 1 auto;
    }
  }
}

.vt-issuer-info-toolbar-left-side {
}

.vt-issuer-info-toolbar-right-side {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: #333;
}
