<vt-widget>
  <div vtWidgetToolbar>
    <div class="vt-issuer-info-toolbar-left-side">
      <span>{{ issuerName }}</span> <span>({{ issuerId }})</span>
    </div>
    <div class="vt-issuer-info-toolbar-right-side">
      <span>112.5</span>
    </div>
  </div>
  <div class="vt-issuer-info-content-wrapper">
    <div class="vt-issuer-info-content-toolbar">
      <div class="vt-issuer-info-content-toolbar-datepicker">
        <mat-date-range-input [rangePicker]="picker" [formGroup]="dateFg">
          <input
            matStartDate
            placeholder="Start date"
            formControlName="start"
          />
          <input matEndDate placeholder="End date" formControlName="end" />
        </mat-date-range-input>
        <button mat-icon-button (click)="picker.open()" disableRipple="true">
          <mat-icon
            style="
              width: 16px;
              height: 16px;
              line-height: 16px;
              font-size: 16px;
            "
            >date_range
          </mat-icon>
        </button>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </div>
      <div class="vt-issuer-info-content-toolbar-info">
        <span> +2,66% </span>
        <span>min 105.4</span>
        <span>max 125.4</span>
      </div>
    </div>
    <section class="vt-issuer-info-content-main-section">
      <div class="vt-issuer-info-content-main-section-left-side">
        <div>Рейтинг 13.11.2020</div>
        <div style="display: flex; align-items: center">
          <vt-chip [status]="'buy'" style="margin-right: 4px"></vt-chip>
          <p
            style="
              font-style: normal;
              font-weight: normal;
              font-size: 11px;
              line-height: 10px;
            "
          >
            VANYA
          </p>
          <vt-star-rating [rating]="3.5"></vt-star-rating>
        </div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="vt-issuer-info-content-main-section-right-side">
        <vt-radar-chart></vt-radar-chart>
      </div>
    </section>
  </div>
</vt-widget>
