<vt-widget>
  <div vtWidgetToolbar>
    <span class="vt-table-widget-toolbar-title">{{ dataType === "entry" ? "Вход" : "Выход" }}</span>
  </div>
  <div class="vt-table-widget-wrapper">
    <table cdk-table [dataSource]="dataSource" class="vt-table-widget-table">
      <!-- Position Column -->
      <ng-container *ngFor="let column of displayedColumns">
        <ng-container [cdkColumnDef]="column">
          <th cdk-header-cell *cdkHeaderCellDef>
            {{ namesOfColumns[column] }}
          </th>
          <td cdk-cell *cdkCellDef="let element">{{ element[column] }}</td>
        </ng-container>
      </ng-container>

      <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
      <tr
        [class.vt-widget-table-red]="row.status === 'red'"
        [class.vt-widget-table-orange]="row.status === 'orange'"
        [class.vt-widget-table-green]="row.status === 'green'"
        cdk-row
        *cdkRowDef="let row; columns: displayedColumns"
      ></tr>
    </table>
  </div>
</vt-widget>
