.input-common {
  border: none;
  height: 100%;
  outline: none;
}

.custom-form-field {
  .mat-form-field-wrapper {
    margin: 0 !important;
    padding: 0;
    height: 100%;

    .mat-form-field-flex {
      height: 100%;
      margin: 0;
      margin-top: -0.25em;

      .mat-form-field-outline {
        top: 0;
      }
    }

    .mat-form-field-outline > div {
      border: none;
    }

    .mat-form-field-infix {
      padding: 0;
      // border: none;
    }
  }
}
