<div style="height: 100%; width: 100%">
  <vt-chart symbol="AMEX:SPY" style="height: 100%; width: 100%"></vt-chart>
</div>
<div style="height: 100%; width: 100%">
  <vt-chart style="height: 100%; width: 100%"></vt-chart>
</div>
<div style="height: 100%; width: 100%">
  <vt-chart style="height: 100%; width: 100%"></vt-chart>
</div>
<div style="height: 100%; width: 100%">
  <vt-chart style="height: 100%; width: 100%"></vt-chart>
</div>
<div style="height: 100%; width: 100%">
  <vt-chart style="height: 100%; width: 100%"></vt-chart>
</div>
<div style="height: 100%; width: 100%">
  <vt-chart style="height: 100%; width: 100%"></vt-chart>
</div>
