<div style="height: 100%; width: 100%">
  <vt-chart
    [interval]="dashboardSettings.timeframe"
    symbol="AMEX:SPY"
    style="height: 100%; width: 100%"
  ></vt-chart>
</div>
<div style="height: 100%; width: 100%">
  <vt-chart
    [interval]="dashboardSettings.timeframe"
    symbol="NASDAQ:QQQ"
    style="height: 100%; width: 100%"
  ></vt-chart>
</div>
<div style="height: 100%; width: 100%">
  <vt-chart
    [interval]="dashboardSettings.timeframe"
    symbol="AMEX:IWM"
    style="height: 100%; width: 100%"
  ></vt-chart>
</div>
<div style="height: 100%; width: 100%">
  <vt-chart
    [interval]="dashboardSettings.timeframe"
    symbol="NASDAQ:QQQ"
    style="height: 100%; width: 100%"
  ></vt-chart>
</div>
<div style="height: 100%; width: 100%">
  <vt-chart
    [interval]="dashboardSettings.timeframe"
    style="height: 100%; width: 100%"
  ></vt-chart>
</div>
<div style="height: 100%; width: 100%">
  <vt-chart
    [interval]="dashboardSettings.timeframe"
    style="height: 100%; width: 100%"
  ></vt-chart>
</div>
