<div class="vt-main-paige-issuer-info-widget develop">
  <!-- <vt-issuer-info></vt-issuer-info> -->
</div>
<div class="vt-main-page-chart-widget">
  <!--  <vt-widget></vt-widget>-->

  <div class="vt-main-page-chart-widget-left-side-block">
    <!-- <vt-chart></vt-chart> -->
    <!-- TradingView Widget BEGIN -->
    <div class="tradingview-widget-container" style="height: 100%; width: 100%">
      <vt-chart
        style="height: 100%; width: 100%"
        [showCustomMenu]="true"
        [interval]="'1D'"
      ></vt-chart>
    </div>
    <!-- TradingView Widget END -->
  </div>
  <div class="vt-main-page-chart-widget-right-side-block">
    <vt-screener style="height: 100%; width: 100%"></vt-screener>
  </div>
</div>
<div class="vt-main-page-selected-issuers-widget">
  <vt-issuer-info></vt-issuer-info>
</div>
<div class="vt-main-page-entry-widget">
  <vt-table-widget [data]=""></vt-table-widget>
</div>
<div class="vt-main-page-out-widget">
  <vt-table-widget dataType="out"></vt-table-widget>
</div>
