:host {
  display: flex;
  flex-flow: column nowrap;

  height: 100%;
  width: 100%;

  background-color: var(--block-bg-color);
}

.list {
  display: flex;
  flex-flow: column nowrap;

  height: 100%;
  overflow: hidden;

  font-size: 10px;
  line-height: 12px;
  color: var(--color-g-10);

  &__header {
    flex: 0 0 auto;
  }

  &__container {
    flex: 1 1;
    overflow-y: auto;
  }

  &__row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    height: 24px;

    &:not(:last-child) {
      border-bottom: 1px solid var(--color-g-3);
    }

    &--active {
      background-color: rgba(0, 102, 255, .15);
    }
  }

  &__row:not(&__header) {
    cursor: pointer;
    transition: background-color .25s ease-in-out;

    &:hover {
      background-color: rgba(0, 102, 255, .1);

      transition: none;
    }
  }

  &__col {
    flex: 1 1 auto;

    margin-left: var(--padding-2);
  }
}

.header {
  font-size: 9px;
  line-height: 11px;

  color: var(--color-g-6);

  &__col {
    flex: 1 1 auto;

    margin-left: var(--padding-2);
  }
}
