:host {
  display: flex;
  flex-flow: column nowrap;

  width: 50vw;
  max-width: 500px;

  margin: var(--padding-4);

  background-color: var(--block-bg-color);
}

.form {
  padding: var(--padding-2);
}

.header {
  background-color: var(--block-bg-color);
}

.list {
  padding: 0 var(--padding-2);
}

.viewport {
  height: 30vh;
  max-height: 300px;
}

.row {
  box-sizing: border-box;

  display: flex;
  align-items: center;

  border-bottom: 1px solid var(--main-bg-color);
}

.cell {
  box-sizing: border-box;

  flex: 0 0 auto;
  width: 24%;
  min-width: 100px;
  max-width: 200px;

  &:not(:last-child) {
    width: 38%;
    padding-right: var(--padding-4);
  }
}

.item {
  height: 40px;
  cursor: pointer;
  
  transition: background-color 0.25s ease-in-out;

  &:hover {
    background-color: rgba(0, 102, 255, 0.1);

    transition: none;
  }

  &__column {
    display: flex;
    flex-flow: column;
  }

  &__img {
    width: 28px;
    height: 28px;

    margin-right: var(--padding-2);

    img {
      width: 100%;
      object-fit: contain;

      border-radius: 50%;
    }
  }

  &__title {
    font-weight: 500;
  }

  &__subtitle {
    font: normal 9px / 16px var(--tui-font-text);
  }

  &__ticker {
    display: flex;
    align-items: center;
  }

  &__sector {

  }
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}


::ng-deep {
  lib-dialog[appearance="search-card"] {
    margin: auto;
    border: none;
    border-radius: 0;
  }
}
