<div class="list">
  <div class="list__action">
    <form
      class="wrapper"
      [formGroup]="testForm"
    >
      <tui-select
        [tuiTextfieldSize]="'s'"
        formControlName="email"
        class="tui-space_bottom-4"
        [tuiTextfieldLabelOutside]="true"
      >
        Choose an address
        <tui-data-list size="s" *tuiDataList>
          <button
            size="s"
            *ngIf="!signatureVisible"
            tuiOption
            class="link"
            (click)="toggle()"
          >
            <tui-svg
              src="tuiIconPlusCircleLarge"
              class="icon"
            ></tui-svg>
            Add signature
          </button>
          <button
            *ngFor="let item of items"
            tuiOption
            [value]="item"
          >
            {{ item }}
          </button>
        </tui-data-list>
      </tui-select>
      <ng-container *ngIf="signatureVisible">
        <tui-input
          formControlName="signature"
          tuiAutoFocus
          tuiTextfieldSize="s"
          [tuiTextfieldCleaner]="true"
        >
          Type an email
          <input
            autocomplete="email"
            tuiTextfield
            type="email"
          />
        </tui-input>
        <button
          size="s"
          tuiButton
          type="button"
          (click)="toggle()"
        >
          Hide signature
        </button>
      </ng-container>
    </form>

  </div>
  <div class="list__header list__row header">
    <div
      class="header__col"
      *ngFor="let item of titleList; trackBy: trackByIndex"
    >
      {{ item }}
    </div>
  </div>
  <cdk-virtual-scroll-viewport itemSize="24" class="list__container">
    <div
      class="list__row"
      *cdkVirtualFor="let item of data; trackBy: trackByIndex"
    >
      <div class="list__col">{{ item.symbol }}</div>
      <div class="list__col">{{ item.price }}</div>
      <div class="list__col">{{ item.change }}</div>
      <div class="list__col">{{ item.percent }}</div>
      <div class="list__col">{{ item.sector }}</div>
    </div>
  </cdk-virtual-scroll-viewport>
</div>
