$buy-color: #039322;
$sell-color: #ff103b;
$keep-color: #0066ff;

.vt-chip {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 11px;
  width: auto;
}

.vt-chip-status-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1px 2px;
  border: 1px solid;
  border-radius: 2px;
  font-style: normal;
  font-weight: 500;
  font-size: 8px;
  line-height: 9px;

  &.vt-chip-status-keep {
    border-color: $keep-color;
    color: $keep-color;
  }

  &.vt-chip-status-buy {
    border-color: $buy-color;
    color: $buy-color;
  }

  &.vt-chip-status-sell {
    border-color: $sell-color;
    color: $sell-color;
  }
}
