:host {
  display: block;
  height: 32px;
  width: 100%;

  overflow: hidden;

  --border-color: #DADAE8;

  font-size: 10px;
  line-height: 12px;
}

.idea {
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;

  width: 100%;
  height: 100%;

  border-top: 1px solid var(--border-color);

  &__col {
    display: flex;
    align-items: center;

    flex: 1 1;
    padding-left: 8px;

    &:not(:last-child) {
      border-right: 1px solid var(--border-color);
    }

    &--center {
      justify-content: center;

      padding-right: 8px;
    }
  }
}
